<div class="page-header">
	<h1>Poll List</h1>
	<button class="btn btn-success" ng-click="loadPolls()">Load Polls</button>
</div>


<div class="col-xs-5">
	<a href="">New Poll</a>
</div>
<div class="col-xs-7">
	<input type="text" class="form-control" ng-model="query" placeholder="Search fof a poll" />
</div>


<div class="col-xs-12" ng-switch on="polls.length">
	<ul ng-switch-when="0">
		<li>No polls.Load it first. Would you like to create?</li>
	</ul>	
	<ul ng-switch-default>
		<li ng-repeat="poll in polls | filter: query">
			<a href="" ng-click="showPoll(poll)">{{poll.question}}</a>
		</li>
	</ul>
</div>