<html>
<head>
	<title>Child Controller</title>
	<style>
		div{
			border: 2px solid black;
			margin: 50px;
		}
	</style>
	<script src="lib/angular/angular.min.js"></script>
	<script>
		var app = angular.module('myApp', []);
		app.controller('parentController', function($scope){
			$scope.fname = "Puneet"
		});
		app.controller('childController', function($scope){
			$scope.lname = "Vashisht"
		});
	</script>
</head>
<body ng-app="myApp">
	<div ng-controller="parentController">
		<input type="text" ng-model="fname">{{fname +" "+ lname}}
		
		<div ng-controller="childController">
			<input type="text" ng-model="lname">{{fname +" "+ lname}}
		</div>
		
	</div>
</body>
</html>
