<html>
<head>
	<title>MVC Calculator</title>
	<script src="lib/angular/angular.min.js"></script>
	<script>
		// 1. add module
		var app = angular.module('myCalc', []);
		// 2. Add controller
		// 3. pass scope to controller
		app.controller('calcCtrl', function($scope){
			$scope.firstNumber = 0;
			$scope.secondNumber = 0;
		// 4. add methods
			$scope.add = function(){
		// 5. store result in result
				$scope.result = $scope.firstNumber + $scope.secondNumber;
			}
			$scope.sub = function(){
				$scope.result = $scope.firstNumber - $scope.secondNumber;
			}
			$scope.mul = function(){
				$scope.result = $scope.firstNumber * $scope.secondNumber;
			}
			$scope.div = function(){
				$scope.result = $scope.firstNumber / $scope.secondNumber;
			}
		})
	</script>
</head>
<body ng-app="myCalc">
	<div ng-controller="calcCtrl">
		<label>First Number</label><input type="number" ng-model="firstNumber"/>
		<br/>
		<label>Second Number</label><input type="number" ng-model="secondNumber"/>	
		
		<hr/>
		<h2>Result: {{result}}</h2>
		<hr/>
		<button ng-click="add()">Add</button>
		<button ng-click="sub()">Sub</button>
		<button ng-click="mul()">Mul</button>
		<button ng-click="div()">Div</button>
	</div>
</body>
</html>
