<html>
<head>
	<title>Searchable Grid</title>
	<script src="lib/angular/angular.min.js"></script>
	<script>
		var app = angular.module('app', []);
		
		app.factory('UserService', function(){
			return [
				{name: "Vinod", role:"S/W Developer", id: 123},
				{name: "Puneet", role:"S/W Designer", id: 234},
				{name: "Arun", role:"HR", id: 123},
				{name: "Batra", role:"S/W Developer", id: 521},
				{name: "Miley", role:"HR", id: 8547},
				{name: "Mark", role:"S/W Designer", id: 964}
			]
		})
		
		app.controller("userCtrl", function($scope, UserService){
			$scope.users = UserService
		})
	</script>
</head>
<body ng-app="app" ng-controller="userCtrl">
	<input type="text" ng-model="myFilter.$">
	
	<table border="1" width="80%">
		<thead>
			<tr>
				<th>name</th>
				<th>role</th>
				<th>id</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="user in users | filter: myFilter">
				<td>{{user.name}}</td>
				<td>{{user.role}}</td>
				<td>{{user.id}}</td>
			</tr>
		</tbody>
	</table>
</body>
</html>
